{
	"arrowParens": "always",
	"bracketSpacing": true,
	"editor.formatOnSave": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
